@page
@model IndexModel
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form method="post">
    <div>
        <label asp-for="UserDto.Username"></label>
        <input asp-for="UserDto.Username" />
    </div>
    <div>
        <label asp-for="UserDto.Password"></label>
        <input asp-for="UserDto.Password" type="password" />
    </div>
    <button type="submit">Login</button>
    <div style="color: red">@Model.ErrorMessage</div>
</form>