@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<h2>Logineddd</h2>

<form method="post">
    <div>
        <label asp-for="Username"></label>
        <input asp-for="Username" />
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" />
    </div>
    <button type="submit">Login</button>
    <div style="color: red">@Model.ErrorMessage</div>
</form>
